/* ============================================
   IMPORTS
   ============================================ */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');


/* ============================================
DESIGN TOKENS  (:root variables)
============================================ */
:root {
    /* Layout */ 
    --header-height: 80px;

    /* Primary */
    --primary-100: #00FF84;
    --primary-200: #03C365;
    --primary-300: #068747;
    
    /* Neutrals */
    --black-800: #0C0F0A;
    --dark-gray-400: #858784;
    --gray-200: #C2C3C2;
    --white-100: #FFFFFF;
}
/* ===========================================
   RESET / BASE
   ============================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif ;
    font-weight: 400;
    font-style: normal;
}


/* ===========================================
Global Styling
============================================ */


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black-800);
}

header {
    width: 100%;
    position: fixed;
    border-bottom: 1px solid var(--primary-300);
    color: var(--white-100);
    background-color: var(--black-800);
}

/* ===========================================
Navbar Styling
============================================ */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px  ;
}


nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

nav a {
    text-decoration: none;
    color: var(--white-100);
}

.logo {
    font-size: 3rem;
    text-decoration: none;
    color: var(--white-100);
}

/* ===========================================
Typography
============================================ */
.display {
    font-family: 'Jersey 10', serif;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Jersey 10';
    font-weight: 700;
    color: var(--primary-100);
}

h4 {
    color: var(--white-100);
    text-align: center;
    margin-bottom: 24px;
    width: 100%;
}

h1 { font-size: 18rem }
h2 { font-size: 8rem }
h3 { font-size: 8rem }

p {
    color: var(--white-100);
}

.cta-link { 
    display: flex;
    justify-content: end;
}

/* ===========================================
Layout Utilities 
============================================ */
main {
    width: 100%;
    margin-top: var(--header-height);
    flex: 1;
    overflow: hidden;
}


#hero-section {
    width: 100%;
}

#hero-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    gap: 16px;
    align-items: center;
    text-align: center;
    color: var(--primary-100);
    background-image: url("/images/hero/hero.jpg");
    background-size: cover;
}

.content-container {
    display: flex;
    margin-bottom: 40px;
    gap: 64px;
}

.contents {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    width: 50%;
    gap: 48px;
}

img {
    border-radius: 24px;
    border: 1px solid var(--dark-gray-400);
    object-fit: cover;
    width: 100%;
    height: 384px;
}

.card-grid {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
    margin-bottom: 24px;
    overflow: auto;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-shrink: 0;
    width: 300px;
}

.card-contents {
    margin: 0 0 24px 16px;
}

form {
    display: flex;
    gap: 8px;
    align-items: center;
}

input, textarea {
    width: 400px;
    padding: 16px 24px;
    border-radius: 24px;
}

textarea {
    height: 200px;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.social-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

a {
    padding: 16px;
}

.cta-link {
    margin-right: 40px;
}

button {
    align-items: center;
}

.primary-btn {
    width: 160px;
    padding: 12px 8px;
    border-radius: 24px;
    margin: 16px;
    font-size: 1rem;
    color: var(--white-100);
    background-color: var(--black-800);
}

.secondary-btn {
    width: 160px;
    padding: 12px 8px;
    border-radius: 24px;
    margin: 16px;
    font-size: 1rem;
}


 /* ===========================================
    Page-Specific
   ============================================ */

    /* Homepage */
.lineup-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

#subscribe-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 16px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Schedule & Lineup */
.schedule {
    margin: 0 40px;
}

.filter-container {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.filter-tags {
    margin-left: 24px;
}

.tag {
    padding: 4px 12px;
    margin: 0 4px;
    background: none;
    border: 1px solid var(--gray-200);
    color: var(--white-100);
    border-radius: 16px;
}

.icon-container {
    border-right: 1px solid var(--dark-gray-400);
}

.icon-btn {
    border: none;
    color: var(--white-100);
    width: 48px;
    background: none;
}

i {
    font-size: 1.5rem;
}

/* Table Grid */ 
.table-grid {
    color: var(--white-100);
    width: 100%;
}

thead {
    background-color: var(--dark-gray-400);
    color: var(--black-800);
}

th {
    font-weight: bold;
}

tbody tr:nth-child(even) {
    color: var(--black-800);
    background-color: var(--gray-200);
}

tr {
    height: 48px;
}

td {
    padding: 4px 0 2px 8px 
}














