/* ============================================
   IMPORTS
   ============================================ */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');


/* ============================================
DESIGN TOKENS  (:root variables)
============================================ */
:root {
    /* Layout */ 
    --header-height: 80px;

    /* Primary */
    --primary-100: #00FF84;
    --primary-200: #03C365;
    --primary-300: #068747;
    
    /* Neutrals */
    --black-800: #0C0F0A;
    --dark-gray-800: #1B1B1A;
    --dark-gray-600: #353635;
    --dark-gray-400: #858784;
    --gray-200: #C2C3C2;
    --white-100: #FFFFFF;

    /* Type Scale */
    --body-xl: 3rem;
    --body-lg: 2rem;
    --body-md: 1.5rem;
    --body-sm: 1rem;
}
/* ===========================================
   RESET / BASE
   ============================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif ;
    font-weight: 400;
    font-style: normal;
}


/* ===========================================
Global Styling
============================================ */


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black-800);
}

header {
    width: 100%;
    position: fixed;
    z-index: 1;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--primary-300);
    color: var(--white-100);
    background-color: var(--black-800);
}

/* ===========================================
Navbar Styling
============================================ */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px  ;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

nav a {
    text-decoration: none;
    color: var(--white-100);
}

.logo {
    font-size: 3rem;
    text-decoration: none;
    color: var(--white-100);
}

/* ===========================================
Typography
============================================ */
.display {
    font-family: 'Jersey 10', serif;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Jersey 10';
    font-weight: 700;
    color: var(--primary-100);
}

h4 {
    color: var(--white-100);
    text-align: center;
    margin-bottom: 24px;
    width: 100%;
}

h1 { font-size: 18rem }
h2 { font-size: 8rem }
h3 { font-size: 8rem }

p {
    color: var(--white-100);
}

.cta-link { 
    display: flex;
    justify-content: end;
}

/* ===========================================
Layout Utilities 
============================================ */
main {
    width: 100%;
    margin-top: var(--header-height);
    flex: 1;
    overflow: hidden;
}


#hero-section {
    width: 100%;
}

#hero-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    gap: 16px;
    align-items: center;
    text-align: center;
    color: var(--primary-100);
    background-color: var(--dark-gray-600);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("/images/hero/hero.jpg");
    background-size: cover;
}

.container {
    margin: 0 40px;
}

.content-container {
    display: flex;
    margin: 0 40px 80px 40px;
    justify-content: space-between;
    gap: 64px;
}

.contents {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 48px;
}

.img-container {
    margin-top: 40px;
    width: 50%;
}

img {
    border-radius: 24px;
    border: 1px solid var(--dark-gray-400);
    object-fit: cover;
    width: 100%;
    height: 384px;
}

.card-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
    margin-bottom: 24px;
    overflow: auto;
    padding: 8px;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 8px;
    row-gap: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-shrink: 0;
    width: 300px;
}


.card-contents p {
    margin: 0 0 8px 16px;
}

.show-date {
    font-weight: light;
    padding: 8px;
    width: 40%;
    border-radius: 8px;
    border: 1px solid var(--gray-200);
    color: var(--gray-200);
}

.card-title {
    font-size: var(--body-md);
}

.venue {
    font-weight: lighter;
}


/* Form Styling */
form {
    display: flex;
    align-items: center;
}

input, textarea {
    width: 400px;
    padding: 16px 24px;
    border-radius: 24px;
}

textarea {
    height: 200px;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.social-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

a {
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    scale: calc(1.2);
    color: var(--primary-100);
}

.cta-link {
    color: var(--gray-200);
    margin: 0 40px 40px 0;
}

.cta-link:hover {
    color: var(--white-100);
    cursor: pointer;
}

button {
    align-items: center;
}

.primary-btn {
    width: 160px;
    padding: 12px 8px;
    border: 1px solid var(--primary-100);
    border-radius: 24px;
    margin: 16px;
    font-size: 1rem;
    color: var(--white-100);
    background-color: var(--black-800);
}

.primary-btn:hover {
    color: var(--black-800);
    background-color: var(--primary-100);
}

.secondary-btn {
    width: 160px;
    padding: 12px 8px;
    border: 1px solid var(--black-800);
    border-radius: 24px;
    margin: 16px;
    font-size: 1rem;
}

.secondary-btn:hover {
    color: var(--white-100);
    background-color: var(--dark-gray-600);
    border: 1px solid var(--primary-200);
}


 /* ===========================================
    Page-Specific
   ============================================ */

    /* Homepage */
.lineup-container {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    overflow: hidden;
}

#subscribe-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    gap: 16px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

/* Schedule & Lineup */
.schedule {
    margin: 0 40px;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px 24px 0;
}

.filter-tags {
    display: flex;
    width: 100%;
    margin-left: 24px;
}

.tag {
    font-weight: 500;
    padding: 6px 12px;
    margin: 0 4px;
    background: none;
    border: 1px solid var(--gray-200);
    color: var(--gray-200);
    border-radius: 16px;
}

.tag:hover {
    background-color: var(--dark-gray-600);
}

.icon-container {
    border-right: 1px solid var(--dark-gray-400);
}

.icon-btn {
    border: none;
    color: var(--white-100);
    width: 48px;
    background: none;
}

i {
    font-size: 1.5rem;
}

.icons {
    display: flex;
}

/* Table Grid */ 
#grid-container {
    margin: 0 40px 0 40px;
}


table {
    color: var(--gray-200);
    width: 100%;
    border: 1px solid var(--dark-gray-400);
    border-radius: 16px;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}

th {
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: var(--dark-gray-800);
}

tr {
    height: 48px;
}

.row-select:hover {
    background-color: var(--dark-gray-600);
}

td {
    border: .5px solid var(--dark-gray-400);
    padding: 4px 0 2px 8px 
}

/* Lineup */
.search-form {
    margin: 0 40px 24px 0;
}

.search-input {
    width: 100%;
    margin-right: 16px;
}

.lineup-card {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    gap: 16px;
    flex-shrink: 0;
    width: 300px;
}

.lineup-card:hover {
    scale: calc(1.03);
    border: 1px solid var(--primary-300);
    border-radius: 24px;
    background: var(--dark-gray-800);
}

/* Location-section */
.map-container {
    width: 50%;
}

iframe {
    border-radius: 24px;
    border: 1px solid var(--dark-gray-400);
}












