/* ============================================
   IMPORTS
   ============================================ */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');


 /* ============================================
   DESIGN TOKENS  (:root variables)
   ============================================ */
:root {
    /* Layout */ 
    --header-height: 80px;

    /* Primary */
    --primary-100: #00FF84;
    --primary-200: #03C365;
    --primary-300: #068747;
    
    /* Neutrals */
    --black-800: #0C0F0A;
    --dark-gray-400: #858784;
    --gray-200: #C2C3C2;
    --white-100: #FFFFFF;
}
/* ===========================================
   RESET / BASE
   ============================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif ;
    font-weight: 400;
    font-style: normal;
}


/* ===========================================
   Global Styling
   ============================================ */


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background-color: var(--black-800);
}

header {
    width: 100%;
    position: fixed;
    border-bottom: 1px solid var(--primary-300);
    color: var(--white-100);
    background-color: var(--black-800);
}

/* ===========================================
   Navbar Styling
   ============================================ */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 40px;
}


nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

nav a {
    text-decoration: none;
    color: var(--white-100);
}

.logo {
    font-size: 4rem;
    text-decoration: none;
    color: var(--white-100);
}

/* ===========================================
    Typography
   ============================================ */
   .display {
      font-family: 'Jersey 10', serif;
      text-align: center;
   }

 h1, h2, h3 {
    font-family: 'Jersey 10';
    font-weight: 700;
    color: var(--primary-100);
 }

 h1 { font-size: 18rem }
 h2 { font-size: 8rem }
 h3 { font-size: 8rem }

 p {
    color: var(--white-100);
 }

 /* ===========================================
    Layout Utilities 
   ============================================ */


main {
    width: 100%;
    margin-top: var(--header-height);
}

#hero-section {
    width: 100%;
}

#hero-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
    color: var(--primary-100);
    background-image: url("/images/hero/hero.jpg");
    background-size: cover;
}

.content-container {
    margin: 96px 40px;
}

button {
    width: 160px;
    padding: 12px 8px;
    border-radius: 24px;
    margin: 16px;
    
}

.primary-btn {
    font-size: 1rem;
    color: var(--white-100);
    background-color: var(--black-800);
}
















